// Globals

body, html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #dddddd;
}

// main content in index.php
.content {
  height: 100%;
  min-height: 800px;
  margin: 0 auto;
  width: 80%;
}

// floats
.clear {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// Others
img {
  width: 100%;
}

@media screen and (max-width: 580px) {

}