$font-family: Helvetica, sans-serif;

$primary-font-color: #333;
$primary-font-size: #333;
$primary-footnote: #333;

// Font
$font-family: #333; // Georgia
$font-size: #333; // 10px, 10%, 10em
$font-style: #333; // normal, italic, oblique
$font-variant: #333; // normal, small-caps
$font-weight: #333; // normal, bold