/* line 1, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/_main.scss */
body, html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: white; }

/* line 8, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/_main.scss */
.clear {
  clear: both; }

/* line 12, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/_main.scss */
.float-left {
  float: left; }

/* line 16, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/_main.scss */
.float-right {
  float: right; }

/* line 20, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/_main.scss */
.content {
  height: 100%;
  margin: 0 auto;
  width: 80%; }

/* line 1, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/navbar/_navbar.scss */
nav {
  background-color: black;
  overflow: hidden; }
  /* line 5, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/navbar/_navbar.scss */
  nav ul {
    list-style-type: none;
    margin: 0 auto;
    width: 80%;
    padding: 0; }
    /* line 11, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/navbar/_navbar.scss */
    nav ul li {
      float: left; }
      /* line 14, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/navbar/_navbar.scss */
      nav ul li a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 25px 25px; }
      /* line 21, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/navbar/_navbar.scss */
      nav ul li a:link {
        color: red; }
      /* line 29, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/navbar/_navbar.scss */
      nav ul li a:hover {
        background-color: white;
        text-decoration: none; }
      /* line 34, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/navbar/_navbar.scss */
      nav ul li a:active {
        background-color: white;
        text-decoration: none; }
    /* line 41, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/navbar/_navbar.scss */
    nav ul div {
      float: right; }

/* line 1, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/footer/_footer.scss */
footer {
  background-color: black;
  overflow: hidden; }
  /* line 5, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/footer/_footer.scss */
  footer ul {
    list-style-type: none;
    margin: 0 auto;
    width: 80%;
    padding: 0; }
    /* line 11, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/footer/_footer.scss */
    footer ul li {
      float: left; }
      /* line 14, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/footer/_footer.scss */
      footer ul li a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 20px 20px; }

/* line 4, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/profile/_profile.scss */
#box1 {
  width: 20%;
  float: left;
  padding: 10px; }
  /* line 9, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/profile/_profile.scss */
  #box1 div img {
    height: 50px;
    width: 50px; }

/* line 15, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/profile/_profile.scss */
#box2 {
  width: 60%;
  float: left;
  padding: 10px; }
  /* line 21, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/profile/_profile.scss */
  #box2 .small-box {
    text-align: center;
    float: left;
    width: 20%; }
    /* line 25, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/profile/_profile.scss */
    #box2 .small-box div {
      font-size: 14px;
      color: lightgray;
      font-weight: bold; }
    /* line 30, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/profile/_profile.scss */
    #box2 .small-box h4 {
      font-size: 18px;
      font-weight: bold; }

/* line 38, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/profile/_profile.scss */
#box3 {
  width: 20%;
  float: left;
  padding: 10px; }
  /* line 43, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/profile/_profile.scss */
  #box3 div img {
    width: 32%; }

/* line 48, C:/Users/yichen/Desktop/github/my_esports_world/app/css/sass/profile/_profile.scss */
img {
  width: 100%; }

/*# sourceMappingURL=app.css.map */