body {
    overflow: hidden;   
}

th {
    text-align: left;
    background-color: #efefef;
    cursor: pointer;
}

tr.footer {
    background-color: #efefef;
}

main {
    margin-left: 12px;
    margin-right:25px;
}

.center {
    text-align: center;   
}

.delete {
    color: red; 
    cursor: pointer;
}


body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}