<nav ng-controller="NavbarController as vm">
    <ul>
        <li><a href="#/"> Home </a></li>

        <div ng-if="!authUser">
            <li><a href="#/login"> Login </a></li>
            <li><a href="#/register"> Register </a></li>
        </div>

        <div ng-if="authUser">
            <!-- drop down
            <img src="..." alt="..." class="img-rounded">
            -->
            <li>
                <a href="#/profile/edit"> Profile </a>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <li><a href="#/account"> Account Settings </a></li>
                            <li><a href="#/account"> Account Settings </a></li>
                            <li><a href="#/account" ng-click="vm.logout()"> Logout </a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</nav>

