<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController as vm">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"> My E-Sports World </a>
            <form id="searchBox" class="navbar-form navbar-right">
                <input class="typeahead form-control" type="text" placeholder="Search player" autocomplete="off">
            </form>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="#/profiles"> Profiles </a></li>
                <li><a href="#contact"> Teams </a></li>
                <li><a href="#contact"> Jobs </a></li>
            </ul>

            <ul ng-if="!authUser" class="nav navbar-nav navbar-right">
                <li><a href="#/register"> Register </a></li>
                <li><a href="#/login"> Login </a></li>
            </ul>

            <ul ng-if="authUser" class="nav navbar-nav navbar-right">
                <li><a href="#/"> Notifications <i class="fa fa-bell"></i></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img ng-src="{{authUser.profile_pic}}" height="50" width="50"/> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/profile/edit"> Profile </a></li>
                        <li><a href="#/account"> Account Settings </a></li>
                        <li><a href="#"> My Game Plays </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="vm.logout()"> Logout </a></li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>

</nav>

<!--
<nav ng-controller="NavbarController as vm">
    <ul>
        <li><a href="#/"> Home </a></li>

        <div ng-if="!authUser">
            <li><a href="#/login"> Login </a></li>
            <li><a href="#/register"> Register </a></li>
        </div>

        <div ng-if="authUser">
            &lt;!&ndash; drop down
            <img src="..." alt="..." class="img-rounded">
            &ndash;&gt;
            <li>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <a href="#/profile/edit"> Profile </a>
                            <li><a href="#/account"> Account Settings </a></li>
                            <li><a href="#/logout" ng-click="vm.logout()"> Logout </a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</nav>
-->

