<div class="profile-jumbotron">
    <img src="{{ vm.profile.image_url }}" alt="pro player pic here" class="img-circle">
    <div class="social-bar">
        <a href="#/"><img src="app/assets/images/social/square/facebook.gif"></a>
        <a href="#/"><img src="app/assets/images/social/square/twitter.jpg"></a>
        <a href="#/"><img src="app/assets/images/social/square/twitch.jpg"></a>
        <!--<a href="#/" class="message-background"><img src="app/assets/images/icons/mail_icon.svg"/></a>-->
    </div>
</div>