<div class="profile-video">
    <h3> Gameplays </h3>
    <br>

    <div class="video-media-object">
        <a href="#/profile/edit" class="thumbnail">
            <img src="../app/assets/images/replay1.png"/>
        </a>
        <p> Added: Dec 12th, 2015 </p>
    </div>
    <div class="video-media-object">
        <a href="#/profile/edit" class="thumbnail">
            <img src="../app/assets/images/replay1.png"/>
        </a>
        <p> Added: Dec 12th, 2015 </p>
    </div>
    <div class="video-media-object">
        <a href="#/profile/edit" class="thumbnail">
            <img src="../app/assets/images/replay1.png"/>
        </a>
        <p> Added: Dec 12th, 2015 </p>
    </div>
    <div class="video-media-object">
        <a href="#/profile/edit" class="thumbnail">
            <img src="../app/assets/images/replay1.png"/>
        </a>
        <p> Added: Dec 12th, 2015 </p>
    </div>
    <div class="video-media-object">
        <a href="#/profile/edit" class="thumbnail">
            <img src="../app/assets/images/replay1.png"/>
        </a>
        <p> Added: Dec 12th, 2015 </p>
    </div>
</div>
