.profile-edit-container {

  .profile-left-box {
    width: 80%;
    float: left;

    .profile-jumbotron {
      height: 200px;
      //overflow: hidden;
      background-image: url("../app/assets/images/zed.jpg");;
    }

    .profile-rank {
      width: 25%;
      float: left;

      div {
        text-align: center;

        &:first-child {
          img {
            width: 80%;
          }
        }

        &:nth-child(2) {
          .profile-rank-team3 {
            width: 50%;
            float: left;
          }
          .profile-rank-team5 {
            width: 50%;
            float: left;

            img {
              width: 80%;
            }
          }
        }

        &:nth-child(4) {
          margin-top: 10px;
          border-top: solid lightgrey 3px;
          border-bottom: solid lightgray 3px;
        }
      }
      .stats {
        button {
          background-color: #d2d2d2;
          width: 80%;
          margin: 10px auto 0 auto;
          opacity: 0.9;
          border-radius: 5px;
          font-size: 14px;
          img {
            width: 20%;
          }
        }
      }
    }

    .profile-info {
      width: 75%;
      float: left;

      .profile-info-box {
        margin: 0 0 20px 20px;
        background-color: white;
        padding: 20px;
        min-height: 100px;
        box-shadow: 1px 1px 2px #888888;
      }
    }
  }

  .profile-right-box {
    width: 20%;
    float: left;
    padding: 10px;

    ul {
      list-style-type: none;
      padding: 0;

      li a {
        &:hover {
          background-color: white;
        }

        img {
          height: 100px;
          width: 150px;
          margin: 10px;
        }
      }
    }
  }
}