@mixin primary-header {
  font-size: 14px;
  color: #464646;
}

@mixin primary-sub-header {
  font-size: 16px;
  color: #313131;
  font-weight: 600;
}

@mixin primary-text {
  font-size: 14px;
  color: #464646;
}

@mixin primary-footnote {
  font-size: 11px;
  color: #7f7f7f;
}

.profile-show-container {
  margin-top: -21px;

  .profile-left-box {
    width: 80%;
    float: left;

    .profile-jumbotron {
      position: relative;
      height: 300px;
      background-image: url("../app/assets/images/zed.jpg");

      > img {
        border: solid white 3px;
        position: absolute;
        height: 200px;
        width: 200px;
        bottom: 10%;
        left: 5%;
      }

      .social-bar {
        position: absolute;
        right: 0;
        bottom: 0;
        line-height: 45px;
        a {
          height: 50px;
          width: 50px;
          display: inline;
          float: left;
        }

        .message-background {
          background-color: lightgrey;
          padding: 0;
        }

      }
    }

    .profile-rank {
      width: 25%;
      float: left;
      text-align: center;

      .name {
        background-color: grey;
        margin: 1px 10px;
        border: solid 1px #606060;
        div {
          &:nth-child(1) {
            padding: 5px;
            color: white;
            font-size: 30px;
            overflow: hidden;
          }
          &:nth-child(2) {
            padding: 5px;
            background-color: white;
            color: grey;
            font-size: 14px;
          }
        }
      }

      .profile-rank-solo {
        div {
          &:nth-last-child(1) {
            font-size: 12px;
            color: #848484;
          }
        }
      }

      .profile-rank-team {

        .profile-rank-team3 {
          width: 50%;
          float: left;
          div {
            &:nth-last-child(1) {
              font-size: 12px;
              color: #848484;
            }
          }
        }
        .profile-rank-team5 {
          float: right;
          width: 50%;
          div {
            &:nth-last-child(1) {
              font-size: 12px;
              color: #848484;
            }
          }
        }
      }

      .profile-rank-stats {
        button {
          background-color: #dfdfdf;
          width: 80%;
          margin: 10px auto 0 auto;
          opacity: 0.9;
          border-radius: 3px;
          font-size: 14px;
          border: 1px solid black;
          padding: 5px;
          img {
            width: 20%;
          }
        }
      }
    }

    .profile-info {
      width: 75%;
      float: left;

      .profile-info-box {
        margin: 0 0 20px 20px;
        background-color: white;
        padding: 20px;
        min-height: 100px;
        box-shadow: 1px 1px 2px #888888;
        @include primary-text;

        .type-1 {
          @include primary-sub-header;
        }

        .type-2 {
          @include primary-footnote;
        }
      }

      ul {
        list-style-type:none;
        margin: auto;
        padding: 0;
        overflow: hidden;
        li {
          display: inline-block;
        }
      }

    }


  }

  .profile-right-box {
    width: 20%;
    float: left;
    padding: 0 10px;
    text-align: center;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        a {
          &:hover {
            background-color: white;
          }
          img {
            height: 100px;
            width: 150px;
            margin: 10px;
          }
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}

