.profile-container {
  margin-top: -10px;
  background-color: #dfdfdf;
  overflow: hidden;

  .profile-container-left {
    width: 80%;
    float: left;
  }

  .profile-container-right {
    width: 20%;
    float: left;
    text-align: center;
  }
}

