<div class="profile-edit-container">

    <div class="profile-left-box">

        <div class="profile-jumbotron">
            <img src="{{ vm.profile.image_url }}" alt="pro player pic here" class="img-circle">
            <div class="social-bar">
                <a href="#/"><img src="app/assets/images/social/square/facebook.gif"></a>
                <a href="#/"><img src="app/assets/images/social/square/twitter.jpg"></a>
                <a href="#/"><img src="app/assets/images/social/square/twitch.jpg"></a>
                <a href="#/" class="message-background"><img src="app/assets/images/icons/mail_icon.svg"/></a>
            </div>
        </div>

        <div class="profile-rank">

            <div class="name">
                <div class="summoner-name"> {{ vm.summoner.name }} </div>
                <div class="real-name"> {{ vm.profile.first_name }} {{ vm.profile.last_name }}  </div>
            </div>

            <div class="profile-rank-solo">
                <img ng-src="app/assets/images/tier-icons/base_icons/{{ vm.summoner.current_season_rank_solo.toLowerCase() }}.png"/>
                <div> {{ vm.summoner.current_season_rank_solo }} {{ vm.summoner.current_season_rank_solo_division }} </div>
                <div> Ranked Solo </div>
            </div>

            <div class="profile-rank-team">
                <div class="profile-rank-team3">
                    <img ng-src="app/assets/images/tier-icons/base_icons/{{ vm.summoner.current_season_rank_team_3.toLowerCase() }}.png"/>
                    <div> {{ vm.summoner.current_season_rank_team_3 }} {{ vm.summoner.current_season_rank_team_3_division }} </div>
                    <div> Team 3v3 </div>
                </div>
                <div class="profile-rank-team5">
                    <img ng-src="app/assets/images/tier-icons/base_icons/{{ vm.summoner.current_season_rank_team_5.toLowerCase() }}.png"/>
                    <div> {{ vm.summoner.current_season_rank_team_5 }} {{ vm.summoner.current_season_rank_team_5_division }} </div>
                    <div> Team 5v5 </div>
                </div>
            </div>

            <div class="profile-rank-stats">
                <a ng-href="{{ vm.summoner.summoner_stats_url}}" target="_blank" title="{{ vm.summoner.summoner_stats_url }}">
                    <button>
                        <img src="app/assets/images/chart.png"/>
                        Summoner Stats
                    </button>
                </a>
            </div>

            <hr/>

            <div style="font-size: 12px; text-align: left">
                <h5> Previous Season (5) Rankings </h5>
                <p> Ranked 5v5 Solo: {{ vm.summoner.previous_season_rank_solo }} {{ vm.summoner.previous_season_rank_solo_division }} </p>
                <p> Ranked 5v5 Team: {{ vm.summoner.previous_season_rank_team_5 }} {{ vm.summoner.previous_season_rank_team_5_division }} </p>
                <p> Ranked 3v3 Team: {{ vm.summoner.previous_season_rank_team_3 }} {{ vm.summoner.previous_season_rank_team_3_division }} </p>
            </div>

            <hr/>

        </div>

        <div class="profile-info">

            <div class="profile-info-box">
                <h3> About </h3>

                <div class="table-responsive">
                    <table class="table">
                        <tbody class="type-2">
                            <td> Age </td>
                            <td> Nationality </td>
                            <td> Timezone </td>
                            <td> Server </td>
                            <td> Status </td>
                        </tbody>
                        <tr class="type-1">
                            <td> {{ 22 }} </td>
                            <td> {{ vm.profile.nationality }} </td>
                            <td> Eastern </td>
                            <td> NA </td>
                            <td> {{ vm.profile.status }} </td>
                        </tr>
                    </table>
                </div>

                <p> {{ vm.profile.description }} </p>
            </div>

            <div class="profile-info-box">
                <h3> Roles </h3>
            </div>

            <div class="profile-info-box">
                <h3> Awards & Accomplishments </h3>
                <div ng-repeat="award in vm.profile.awards">
                    <div class="type-1"> {{ award.name }} </div>
                    <div class="type-2"> {{ award.date }} </div>
                    <p> {{ award.description }} </p>
                </div>
            </div>

            <div class="profile-info-box">
                <h3> Experience </h3>

                <div class="row" ng-repeat="experience in vm.profile.experiences">
                    <div class="col-sm-10">
                        <div class="type-1"> {{ experience.organization }} </div>
                        <div class="type-2"> {{ experience.position }} </div>
                        <div class="type-2"> {{ experience.date_from }} - {{ experience.date_to }} </div>
                        <p> {{ experience.description }} </p>
                    </div>
                    <div class="col-sm-2"><img src="app/assets/images/tsm.gif" height="70" width="50"/></div>
                </div>
            </div>

            <div class="profile-info-box">
                <h3> Languages </h3>

                <div class="row">

                    <!-- native or bilingual column -->
                    <div class="col-sm-4" ng-if="vm.native_languages.length > 0">
                        <div class="type-2"> Native </div>
                        <ul>
                            <li ng-repeat="language in vm.native_languages track by $index">
                                <div class="type-1"> {{ language }} </div>
                            </li>
                        </ul>
                    </div>

                    <!-- professional column -->
                    <div class="col-sm-4" ng-if="vm.professional_languages.length > 0">
                        <div class="type-2"> Professional </div>
                        <ul>
                            <li ng-repeat="language in vm.professional_languages track by $index">
                                <div class="type-1"> {{ language }} </div>
                            </li>
                        </ul>
                    </div>

                    <!-- limited column -->
                    <div class="col-sm-4" ng-if="vm.limited_languages.length > 0">
                        <div class="type-2"> Limited </div>
                        <ul>
                            <li ng-repeat="language in vm.limited_languages track by $index">
                                <div class="type-1"> {{ language }} </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="profile-info-box">
                <div>
                    <h3> Education </h3>
                    <img src="" />
                </div>
                <div ng-repeat="education in vm.profile.educations">
                    <div class="type-1"> {{ education.institution }} </div>
                    <div class="type-2"> {{ education.degree }} </div>
                    <div class="type-2"> {{ education.date_from }} - {{ education.date_to }} </div>
                    <p> {{ education.description }} </p>
                </div>
            </div>

        </div>
    </div>

    <div class="profile-right-box">
        <h3> Gameplays </h3>
        <ul>
            <li>
                <a href="#/profile/edit" class="thumbnail"><img src="../app/assets/images/replay1.png"/></a>
                <p> Added: Dec 12th, 2015 </p>
            </li>
            <li>
                <a href="#/profile/edit" class="thumbnail"><img src="../app/assets/images/replay1.png"/></a>
                <p> Added: Dec 12th, 2015 </p>
            </li>
            <li>
                <a href="#/profile/edit" class="thumbnail"><img src="../app/assets/images/replay1.png"/></a>
                <p> Added: Dec 12th, 2015 </p>
            </li>
            <li>
                <a href="#/profile/edit" class="thumbnail"><img src="../app/assets/images/replay1.png"/></a>
                <p> Added: Dec 12th, 2015 </p>
            </li>
            <li>
                <a href="#/profile/edit" class="thumbnail"><img src="../app/assets/images/replay1.png"/></a>
                <p> Added: Dec 12th, 2015 </p>
            </li>
            <li>
                <a href="#/profile/edit" class="thumbnail"><img src="../app/assets/images/replay1.png"/></a>
                <p> Added: Dec 12th, 2015 </p>
            </li>
            <li>
                <a href="#/profile/edit" class="thumbnail"><img src="../app/assets/images/replay1.png"/></a>
                <p> Added: Dec 12th, 2015 </p>
            </li>
        </ul>
    </div>

</div>