nav {
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; // fixed always on top

  ul {
    list-style-type: none;
    margin: 0 auto;
    width: 80%;
    padding: 0;

    li {
      float: left;

      a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 20px 20px;

        &:link {
          color: blue;
        }

        &:visited {
          color: red;
        }

        &:hover, &:active {
          background-color: white;
          text-decoration: none;
        }
      }
    }

    div {
      float: right;
    }
  }
}